.header-bg{
 background-color: #3DBEFF;
  
}

.header-container{
  background-image: url("../../images/desktop/image-header.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  max-height: 800px;
  margin: 0 auto;
  padding: 30px 40px;
  gap: 105px;
  box-sizing: border-box;
}

.header-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 47px;
}

.nav-list li:last-child a{
  background-color: var(--cor-4);
  padding: 16px 32px;
  border-radius: 28px;
}

.nav-list li:last-child a:hover{
  background-color: #41b8e7d1;
  transition: .3s;
  color: hsla(0, 0%, 100%, 1);
  
}
.nav-list li:last-child a:active{
  background-color: #41b8e7d1;
  transition: .3s;
  color: hsla(0, 0%, 100%, 1);
}

.header-content{
  justify-self: center;
  display: grid;
  gap: 120px;
  justify-items: center;
  
}

.header-content h1{
  letter-spacing: 8.75px;
  text-transform: uppercase;
  
}

.header-content img{
  margin-bottom: 340px;
}

/* Menu Hb*/

#menu-hb{
  display: none;
}

@media (max-width:800px){
  .header-top{
    flex-wrap: wrap;
  }
  .header-content{
    text-align: center;
    gap: 40px;
  }
}

@media (max-width:600px){
  .nav{
    transition: 3s;
  }
  .nav-list{
    
    padding: 20px;
    display: flex;
    position: absolute;
    left: 20px;
    top: 80px;
    color: var(--cor-2);
    background-color: white;
    width: calc(100% - 120px);
    height: 0vw;
    place-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 35px solid #3EBFFF;
    border-right: 33px solid white;
    transition: .6s;
    visibility: hidden;
    overflow: hidden;
  }
  .nav-list .nav-item:last-child a{
    background-color: var(--cor-p2);
  }

.opacity{
  opacity: .6;
}

  #menu-hb{
    display: inline-block;
  }
  .nav-list.show{
    display: flex;
    visibility:visible;
    height: 100vw;
  }
  .header-container{
  padding-left:20px ;
  padding-right: 20px;
  }

  .header-content{
    text-align: center;
    gap: 110px;
  }
}